logs/
dest/
generated/
node_modules/
unknown/
avatars/
packages/backend/static/
!packages/backend/static/html

package-lock.json

config.json
config.*.json
!config.example.json
!config.schema.json

.env
.env.*
!.env.example
