logs/
dest/
generated/
node_modules/
unknown/
avatars/
/packages/backend/static/articles/
/packages/backend/static/services/

package-lock.json

config.json
config.*.json
!config.example.json
!config.schema.json

.env
.env.*
!.env.example
